.card {

    margin-top: 40px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 2px .5px 8px #000000;
    border-radius: 20px;

}

.sol {
    padding-top: 10px;

}

.seleccion {
    font-size: 15px;
    border-radius: 8px;
    padding: 9px;
    border: 0.2px solid #000000;
}

.consultar {
    font-size: 15px;
    background-color: var(--color-theme);
    color: white;
    border-radius: 10px;
    border: 0.5px solid #000000;
    padding: 10px;


}