html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    background-color: turquoise;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    display: inline-block;
    color: black;

}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.nav-item:hover {
    color: red;
}

.nav-item:hover a {
    color: blue;
}

.nav-item-login {
    font-style: italic;
    font-size: large;
    font-weight: 600;
    border: solid 2px white;
}

.logo-img {
    width: 20px;
    height: 20px;
}