* {
    font-family: sans-serif;
    color-scheme: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;

}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;

}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

li {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: bold;
}

li a {
    color: orange;
    text-decoration: underline;
}

ul {
    margin-left: 100px;
    padding: 20px;
    border: solid 2px blue;
    width: 40%;
    list-style: none;
}

.verde {
    color: green;
}

a:hover {
    color: rgb(0, 0, 0) !important;
    opacity: 0.1;
}